<body style="background-color: aqua;">
<div class="container" style="
position: absolute;
    left: 33vw;
    top: 23vh;
    background-color: #744d4dad;
    color: white;
    padding-left: 38px;
    border-radius: 22px;
    align-items: center;">
<h1>Add Items</h1>
<form action="/add-item" method="post" enctype="multipart/form-data">
    <label >Item-Image</label>
    <input type="file" name="thumbnail" accept="image/*" class="form-control-file" required> 
    <div style="margin: 7px;"><br>
    <label>Title</label> 
   <input type="text" name="title" class="form-control" required>
   </div><br>
    <div style="margin: 7px;">
    <label>Price</label> 
   <input type="number" name="price" class="form-control" required>
   </div>
   <label>Description</label><br>
   <textarea name="description" class="form-control" cols="30" rows="5" required></textarea><br>
   <label>Category</label>
   <select name="category" class="form-control" required>
       <option value="Furniture">Furniture</option>
       <option value="Study material">Study material</option>
       <option value="Basic Needs">Basic Needs</option>
       </select>
       <br>
   <button type="submit"style="margin: 7px;" >Add</button>
</form>
</div>
</body>
</html>