<%- include("header") %>

     <body style="background: url(../static/1.jpeg)">



          <div class="profile-box">
               <h2 style="color:#000909fc;
     text-align: center;
     padding-top: 20px">Edit Your Profile</h2>
               <form action="/editProfile" method="post" enctype="multipart/form-data" style="width: 60%;
background-color: #0e4a4ce8 ;
text-align: center;
align-items: center;
margin: auto;
margin-bottom: 21px;
padding-bottom: 18px;
padding-left: 25px;
padding-right: 42px;">
                    <label>Cover Photo</label>
                    <input type="file" name="coverPhoto" accept="image/*" class="form-control-file" required>
                    <label>Profile Photo</label>
                    <input type="file" name="image" accept="image/*" class="form-control-file" required>
                    <input type="submit" value="Upload" style=" padding: 8px 14px;
         color: white;
         background-color: black;
         margin-top: 18px;"></button>

               </form>
          </div>