<footer class="section section-footer " >
    <div class="container grid grid-four-col">
        <hr>
      <div class="f-about">
        <h3>About</h3>
        <p>We have tested a number of registry fix and clean utilities and present our top 3 list on our site for your convenience. Hope you like it.</p>
      </div>

      <div class="f-links">
         <h3>Links</h3>
        <ul>
          <li><span><ion-icon name="arrow-forward-outline"></ion-icon></span><a href="#">home</a></li>
           <li><span><ion-icon name="arrow-forward-outline"></ion-icon></span><a href="#">about</a></li>
            <li><span><ion-icon name="arrow-forward-outline"></ion-icon></span><a href="#">services</a></li>
             <li><span><ion-icon name="arrow-forward-outline"></ion-icon></span><a href="#">portfolio</a></li>

               <li><span><ion-icon name="arrow-forward-outline"></ion-icon></span><a href="#">contact</a></li>
        </ul>
      </div>

      <div class="f-address"> 
        <h3>Have a Questions?</h3>
        <address>
          <div>
            <p>  <span><ion-icon name="location-outline"></ion-icon></span> Prayagraj, India </p>
          </div>

          <div>
            <p>  <span><ion-icon name="call-outline"></ion-icon></span> <a href="tel:+91123456789"> +91 9874563215 </a></p>
          </div>

          <div>
            <p>  <span><ion-icon name="mail-outline"></ion-icon></span> <a href="mailto:test@innodev.com"> ayushvarshney42003@gmail.com </a> </p>
          </div>
        </address>
      </div>
    </div>

    

      <div class="f-credits">
        <p>Copyright ©2022 All rights reserved | Innodev-Incognito private limited</p>
      </div>
    </div>

  </footer>
<!-- <script>
    document.addEventListener("DOMContentLoaded", function (event) {

        const showNavbar = (toggleId, navId, bodyId, headerId) => {
            const toggle = document.getElementById(toggleId),
                nav = document.getElementById(navId),
                bodypd = document.getElementById(bodyId),
                headerpd = document.getElementById(headerId)

            // Validate that all variables exist
            if (toggle && nav && bodypd && headerpd) {
                toggle.addEventListener('click', () => {
                    // show navbar
                    nav.classList.toggle('show')
                    // change icon
                    toggle.classList.toggle('bx-x')
                    // add padding to body
                    bodypd.classList.toggle('body-pd')
                    // add padding to header
                    headerpd.classList.toggle('body-pd')
                })
            }
        }

        showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

        /*===== LINK ACTIVE =====*/
        const linkColor = document.querySelectorAll('.nav_link')

        function colorLink() {
            if (linkColor) {
                linkColor.forEach(l => l.classList.remove('active'))
                this.classList.add('active')
            }
        }
        linkColor.forEach(l => l.addEventListener('click', colorLink))

        // Your code to run since DOM is loaded and ready
    });
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://kit.fontawesome.com/8df4627fa1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
<script>
    $(document).ready(function(){
        $('table').DataTable({
            order:[0,'desc']
        });
    });
</script>
</body>

</html>