<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>innodev</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"/>
    
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

        :root {
            --header-height: 3rem;
            --nav-width: 68px;
            --first-color: #000000;
            --first-color1: #4723D9;
            --first-color-light: #AFA5D9;
            --white-color: #F7F6FB;
            --body-font: 'Nunito', sans-serif;
            --normal-font-size: 1rem;
            --z-fixed: 100
        }

        *,
        ::before,
        ::after {
            box-sizing: border-box
        }

        body {
            position: relative;
            margin: var(--header-height) 0 0 0;
            padding: 0 1rem;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            transition: .5s;
            width: 100vw;
        }

        a {
            text-decoration: none;
            list-style: none;
        }

        .header {
            /* background-color: #000000;
             */
            background: url(/static/200.webp);
            width: 100%;
            height: var(--header-height);
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            /* background-color: var(--white-color); */
            z-index: var(--z-fixed);
            transition: .5s
        }

        .header1 {
            /* background-color: #000000; */
            background: url("/static/200.webp");
            width: 100%;
            height: var(--header-height);
            position: fixed;
            top: var(--header-height)+100px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            /* background-color: var(--white-color); */
            z-index: var(--z-fixed);
            transition: .5s
        }

        .header_toggle {
            color: var(--white-color);
            font-size: 1.5rem;
            cursor: pointer
        }

        .header_img {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden
        }

        .header_img img {
            width: 40px;
            color: white;
        }

        .l-navbar {
            position: fixed;
            top: 0;
            left: -30%;
            width: var(--nav-width);
            height: 100vh;
            /* background-color: var(--first-color);
             */
            background: url(/static/200.webp);
            padding: .5rem 1rem 0 0;
            transition: .5s;
            z-index: var(--z-fixed)
        }

        .nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden
        }

        .nav_logo,
        .nav_link {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
            padding: .5rem 0 .5rem 1.5rem;

        }

        .nav_logo {
            margin-bottom: 2rem
        }

        .nav_logo-icon {
            font-size: 1.25rem;
            color: var(--white-color)
        }

        .nav_logo-name {
            color: var(--white-color);
            font-weight: 700
        }

        .nav_link {
            position: relative;
            color: var(--first-color-light);
            margin-bottom: 1.5rem;
            transition: .3s;

            text-decoration: none;
        }

        .nav_link:hover {
            color: var(--white-color);
        }

        .nav_icon {
            font-size: 1.25rem
        }

        .show {
            left: 0
        }

        .body-pd {
            padding-left: calc(var(--nav-width) + 1rem)
        }

        .active {
            color: var(--white-color)
        }

        .active::before {
            content: '';
            position: absolute;
            left: 0;
            width: 2px;
            height: 32px;
            background-color: var(--white-color)
        }

        .height-100 {
            height: 100vh
        }

        @media screen and (min-width: 768px) {
            body {
                margin: calc(var(--header-height) + 1rem) 0 0 0;
                padding-left: calc(var(--nav-width) + 2rem)
            }

            .header {
                height: calc(var(--header-height) + 1rem);
                padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
            }

            .header_img {
                width: 40px;
                height: 40px
            }

            .header_img img {
                width: 45px
            }

            .l-navbar {
                left: 0;
                padding: 1rem 1rem 0 0
            }

            .show {
                width: calc(var(--nav-width) + 156px)
            }

            .body-pd {
                padding-left: calc(var(--nav-width) + 188px)
            }
        }

        .logo img {
            height: 49px;
            width: 124px;
            border-radius: 8px;

        }

        .search {
            width: 30vw;
        }

        .input {
            display: flex;
        }

        .icon {

            color: white;
            background-color: #bb337c;
        }

        i {

            text-align: center;
            font-size: 15px;
            padding-top: 7px;

        }

        button {
            border-radius: 12px;
            padding: 9px 14px;
            background-color: white;
            color: black;
            outline: none;
        }

        .header1 ul {
            display: flex;
            margin-left: 40px;
            margin-top: 10px;
        }

        .header1 ul li {
            color: white;
            list-style: none;
            text-decoration: none;
            padding: 5px 20px;
            background-color: #181857;
            margin: 10px;
            border-radius: 12px
        }

        hr {
            height: 3px;
            color: black;
            top: 58px;
            position: relative;
        }

        .top-recommended {
            position: absolute;
            top: 15vh;
        }

        .top-recommended2 {
            position: absolute;
            top: 95vh;
        }

        .grid-three-col {
            grid-template-columns: repeat(3, 1fr);
            margin-top: 1rem;
        }

        .grid {
            /* display: grid; */
            display: grid;
            gap: 0.5rem;
            margin-left: 2vw;
        }

        /* footer */
        .video-show {
            height: 200px;
            width: 25vw;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 12px;
            padding: 4px;
            margin: 12px 13px;
        }
    </style>
    <style>
        .signupbtn {
            margin-left: 12vw;
            color: white;
            background-color: black;
            padding: 11px 32px;
            outline: none;
            border: none;
        }

        .signupbtn:hover {
            background-color: white;
            color: black;
        }

        @media(max-width:407px) {
            button {
                border-radius: 12px;
                padding: 4px 5px;
                background-color: white;
                color: black;
                outline: none;
            }
        }

        * {
            box-sizing: border-box
        }

        /* Full-width input fields */
        input[type=text],
        input[type=password] {
            width: 90%;
            padding: 8px;
            margin: 14px 0px 13px 0px;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        @media(max-width:1173px) {
            .header1 ul li {
                list-style: none;
                text-decoration: none;
                padding: 2px 14px;
                background-color: #181857;
                margin: 1px;
            }
        }

        @media(max-width:933px) {
            .header1 {
                display: none;
            }
        }

        @media(max-width:470px) {
            .video-show {
                height: 200px;
                width: 43vw;
                object-fit: cover;
                border: 1px solid black;
                border-radius: 12px;
                padding: 4px;
                margin: 4px 5px;
            }

            .grid-three-col {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 1rem;
            }

            .top-recommended {
                position: absolute;
                top: 7vh;
                left: 3vw;
            }
        }

        .except-body {
            background: url(../static/200.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover
        }

        @media(max-width:597px) {
            .grid-three-col {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 1rem;
            }

            .video-show {
                height: 200px;
                width: 43vw;
                object-fit: cover;
                border: 1px solid black;
                border-radius: 12px;
                padding: 4px;
                margin: 4px 5px;
            }
        }

        @media(max-width:374px) {
            .grid-three-col {
                grid-template-columns: repeat(1, 1fr);
                margin-top: 1rem;
            }

            .video-show {
                height: 129px;
                width: 90vw;
                object-fit: cover;
                border: 1px solid black;
                border-radius: 12px;
                padding: 4px;
                margin: 4px 5px;
                /* margin-bottom: 41px; */
            }

        }

        body {
            background: url("/static/Space\ -\ 2381.mp4");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for all buttons */
        /* button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    button:hover {
      opacity:1;
    } */
        .new-card {
            width: 10vw;
            height: 40vh;


        }

        /* .grid-two-col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
} */

        /* Extra styles for the cancel button */
        .cancelbtn {
            padding: 14px 20px;
            background-color: #f44336;
        }

        /* Float cancel and signup buttons and add an equal width */

        h1 {
            color: white;
            text-align: center;
            font-size: 33px;
        }

        input {
            border-radius: 9px;
        }

        /* Add padding to container elements */
        .container {
            margin-top: 14px;
            height: 100vh;
            width: 39vw;
            padding: 20px;
            /* background: url("images.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
            /* opacity: 0.5; */
            /* background-color: black; */

            border-radius: 14px;
        }

        /* Clear floats */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        p {
            text-align: center;
            color: white;
        }

        label {
            color: white;
            margin-top: 12px;
        }

        .details {
            text-align: center;
            align-items: center;
        }
    </style>
    <!-- login -->
    <style>
        body {
            /* background: url("/static/200.webp"); */
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 110vh;
        }

        #videoPlayer {
            width: "600vw";
            height: "400vh";
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }

        }

        .img {
            height: 470px;
            width: 470px;
        }

        .container {
            /* background-color: #050505; */
            border-radius: 20px;
            margin-top: 10px;
        }

        .new-container {
            position: absolute;
            width: 77vw;
          margin-top: -12vh;
            left: 12vw;
        }

        .signup-form {

            /* border: 1px solid #ccc; */
            position: absolute;
            top: 0;
            left: 30vw;

        }

        .details {
            margin-top: 10vh;
            width: 32%;
        }

        .para-detail {
            color: white;
        }

        .video {
            height: 28vw;
            width: 66vw;
            margin-left: 31px;
        }

        #videoPlayer {
            height: 25vw;
            width: 42vw;
            padding: 23px;
            background-color: #c6c3c3;
            border-radius: 15px;
        }

        .video-container {
            border-radius: 18px;
            padding: 28px;
            position: absolute;
            display: flex;
            top: 3vh;
            left: 7vw;
            width: 90vw;
            background: url(../static/200.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 82vh;

        }

        .profile-box {
            position: absolute;
            top: 18vh;
            left: 20vw;
            width: 60%;
            background-color: #2ab2a86e;
            text-align: center;
            align-items: center;
            margin: auto;
            margin-bottom: 21px;
            padding-bottom: 18px;
            padding-left: 25px;
            padding-right: 42px;
            border-radius: 15px;
        }

        @media(max-width:1044px) {
            .video-container {
                position: absolute;
                display: flex;
                flex-direction: column-reverse;
                top: 4vh;
                left: 20vw;
                width: 62vw;
            }

            .img {
                height: 286px;
                width: 388px;
                margin-left: 11px;
            }

            .details {
                margin-top: 3vh;
                width: 75%;
                margin-left: 35px;
            }

            .input {
                display: none;
            }

            .btan {
                width: 40vw;
            }
        }

        .box1 {
            display: flex;
        }

        @media(max-width:555px) {
            body {
                height: 200vh;
            }

            .container {
                width: 74vw;
            }

            .signup-form {

                left: 16vw;
            }
        }

        .text {
            width: 80%;
            padding: 8px;
            margin: 14px 0px 13px 0px;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        @media(max-width:470px) {
            .btan {
                width: 60%;
            }
        }

        .video-personal {
            width: 25vw;
            margin-left: 12px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        p {
            color: black;
        }

        .dashboard-heading {
            font-size: 35px;
            /* text-transform: uppercase; */
            text-transform: capitalize;
            color:#141cbd;
        }

        .dashboard-email {
            font-size: 23px;
            color: #f4efef91;
        }

        .profile-container {
            position: relative;
            top: 70vh;
            /* display: flex; */
            /* align-items: center;
            justify-content: center; */
            /* text-align: center; */
            /* display: inline; */
            display: inline;
           margin: auto;
            border-radius: 14px;
            padding: 6px;
            /* left: 50%; */
            /* background-color: #111b4c; */
            margin-bottom: 1vh;
            /* margin-left: 38%; */
        }

        .box2 {
            display: flex;
        }
    </style>
<body id="body-pd">
    <% months=["January","February","March","April","May","June","July","August","September","October","November","December"];
    baseUrl="http://localhost:8080/" ; %>
    <script type="text/javascript">
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var baseUrl = "http://localhost:8080/";
    </script>
    <header class="header" id="header">
        
        <% if(typeof isLogin !="undefined"&& isLogin){ %>
          <div class="btan"><a href="/add-item"><button>Add-item</button></a>
            <a href="/logout"><button >Log Out</button></a></div>
          <% } else{%> 
        <div class="btan"><a href="/signup"><button>Sign Up</button></a>
    <a href="/login"><button >Log In</button></a></div>
             <% } %> 
    </header>
   
       <%# if(typeof isLogin !="undefined"&& isLogin){ %> 
        
        <!-- <a href="/upload" class="nav-link">Upload video</a>
            <a href="/logout"  class="nav-link">logout</a> -->
            
        <%# } else{%>  
            <!-- <a href="/login">login</a>
            <a href="/signup">signup</a>
            <a href="/">home</a> -->
            <%# } %> 