<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        /* background-image: linear-gradient(to bottom right, rgb(23, 23, 14), rgb(21, 11, 81)); */
        font-family: cursive;
        background: url(./images.jpeg);
        background-size: cover;
        background-position:center;
                background-repeat: no-repeat;
                height: 100vh;
    }
    .container{
height: 70vh;
    display: flex;
    position: absolute;
    top: 14%;
    left: 23%;
    width: 50vw;
    padding: 20px;
    border-radius: 12px;

    }
    .right{
        width: 50%;
        background: url("/static/unnamed.png");
        background-size: cover;
        background-position:2px;
                background-repeat: no-repeat;
        border-radius:0px 34px 34px 0px;
    }
.left{
    width: 50%;
    background-image: linear-gradient(to bottom right, #0e1d5a, #00fff7);
    border-radius:34px 0px 0px 34px;
 
}
    input{
        width: 90%;
       
outline: none;
    padding: 15px;
    border-radius: 9px;
    background-color: #f1efef;
    border: 0px;
    margin: 10px;
}
    .login{    text-align: center;
    font-size: 24px;
    font-family: cursive;
    color: white;
}
.btn{
    display: inline-block;
    padding: 8px;
    border-radius: 9px;
    background-color: rgb(69, 2, 252);
    color: white;
    margin: 12px 50px;
}
form{
    text-align: center;
    width: 80%;
    margin-left: 25px;
    margin-top: 20px;
}
.logo img{
    width: 47%;
    height: 8vh;
    margin-left: 90px;
}
</style>
<body style="background-color:#545472;">
    
    <div class="container">
       <div class="left">
        <h2 class="login">
            Register Here!
        </h2>
<div class="logo">
    <img src="/static/logo.jpeg" alt="">
</div>
        <form action="/signup" method="post" class="form">
            <input type="text" name="name" id="" placeholder="Enter Your Name"><br>
<input type="email" name="email" id="" placeholder="Enter Your Email"><br>
<input type="password" name="password" id="" placeholder="Enter Your Password"><br>
<button class="btn" type="submit">REGISTER</button>

        </form>
       </div>
       
       <div class="right">
        </div>
    </div>
</body>
</html>